html{
	background: black;
}
li.redLi {
  color: red;
  font-weight: bold;
}
div.last{
	display: none;
	position: relative;
	height: 200px;
}
div.red {
	display: none;
  	position: relative;
  	height: 300px;
}
div#one{
	color: red;
	font-size: 32;
	font-family: "fantasy", Jazz LET, fantasy;
}
div#two{
	color: yellow;
	font-size: 28;
	font-family: "monospace", OCR A Std, monospace;
	align-self: right;
	text-align: center;
	float: right;
	max-width: 700px;
}
div#three{
	color: green;
	font-size: 28;
	font-family: "cursive", Comic Sans, cursive;
	align-self: right;
	text-align: center;
	float: right;
	max-width: 700px;
}
div#four{
	color: rgb(255,140,0);
	font-size: 28;
	font-family: "serif", New Century Schoolbook, serif;
	align-self: right;
	text-align: center;
	float: right;
	max-width: 700px;
}
div#fourTwo{
	color: rgb(255,140,0);
	font-size: 28;
	font-family: "serif", New Century Schoolbook, serif;
	align-self: right;
	text-align: center;
	float: right;
	max-width: 700px;
}
div#fourThree{
	color: rgb(255,140,0);
	font-size: 28;
	font-family: "serif", New Century Schoolbook, serif;
	align-self: right;
	text-align: center;
	float: right;
	max-width: 700px;
}
div#fourFour{
	color: rgb(255,140,0);
	font-size: 28;
	font-family: "serif", New Century Schoolbook, serif;
	align-self: right;
	text-align: center;
	float: right;
	max-width: 700px;
}
div#five{
	color: blue;
	font-size: 28;
	font-family: "sans-serif", Avantgarde, sans-serif;
	align-self: right;
	text-align: center;
	float: right;
	max-width: 700px;
}
div#six{
	color: pink;
	font-size: 28;
	font-family: "fantasy", Jazz LET, fantasy;
	align-self: center;
	text-align: center;
	float: right;
	max-width: 700px;	
}
div#seven{
	color: red;
	font-size: 36;
	font-family: "fantasy", Jazz LET, fantasy;
	align-self: center;
	text-align: center;
	float: right;
	max-width: 700px;	
}
button#clickOne{
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
}
button#clickTwo{
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
}
button#clickThree{
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
}
button#clickFourTwo{
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
}
button#clickFourThree{
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
}
button#clickFourFour{
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
}
button#clickFour{
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
}
button#clickFive{
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
}
p.red {
  color: red;
  font-weight: bold;
}
img.resize{
	/*max-width: 20%;
	max-height: 20%;*/
	display: none;
}
img.smaller{
	max-width: 20%;
	max-height: 20%;
}
img.larger{
	transform: scale(2);
}